## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [2]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [9]:
# your code
male = data[data['sex']=='Male'].shape[0]
female = data[data['sex']=='Female'].shape[0]
print(f'Male: {male}')
print(f'Female: {female}')

Male: 21790
Female: 10771

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [11]:
# your code
male_avg_age = data[data['sex']=='Male']['age'].mean()
print(f'Average male age: {male_avg_age}')

Average male age: 39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [13]:
# your code
usa_citizens = data[data['native-country']=='United-States'].shape[0] / data.shape[0] * 100
print(f'USA citizens part: {usa_citizens}')

USA citizens part: 89.5857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [15]:
# your code
mean_age_lt50k = data[data['salary']=='<=50K']['age'].mean()
mean_age_gt50k = data[data['salary']=='>50K']['age'].mean()
std_age_lt50k = data[data['salary']=='<=50K']['age'].std()
std_age_gt50k = data[data['salary']=='>50K']['age'].std()

print(f'Mean age of those who get less then 50k: {mean_age_lt50k}')
print(f'Mean age of those who get more then 50k: {mean_age_gt50k}')
print(f'STD age of those who get less then 50k: {std_age_lt50k}')
print(f'STD age of those who get more then 50k: {std_age_gt50k}')

Mean age of those who get less then 50k: 36.78373786407767
Mean age of those who get more then 50k: 44.24984058155847
STD age of those who get less then 50k: 14.02008849082488
STD age of those who get more then 50k: 10.519027719851826

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [16]:
# your code
education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
all_high_edu = True if data[data['salary']=='>50K'].shape[0] == data[(data['salary']=='>50K') & (data['education'][0] in education)].shape[0] else False
print(all_high_edu)

True

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [17]:
# your code
stats = data.groupby('race')['age'].describe()
print(stats)
# max age for Asian-Pac-Islander is 90 years

                      count       mean        std   min   25%   50%   75%  \
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [20]:
# your code
rich_males = data[(data['salary']=='>50K') & (data['sex']=='Male')]
married = rich_males[rich_males['marital-status'].str.startswith('Married')].shape[0] / rich_males.shape[0] * 100
single = 100 - married
print(f'Married: {married}')
print(f'Single: {single}')
# There are significantly more married rich males then single ones.

Married: 89.53767637346142
Single: 10.462323626538577

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [22]:
# your code
max_hours = data['hours-per-week'].max()
print(f'Max hours person work per week: {max_hours}')
max_hours_persons = data[data['hours-per-week']==max_hours]
print(f'Amount of people that work max hours per week: {max_hours_persons.shape[0]}')
rich_max_hours = max_hours_persons[max_hours_persons['salary']=='>50K'].shape[0] / max_hours_persons.shape[0] * 100
print(f'Percent of those people that earn alot: {rich_max_hours}')

Max hours person work per week: 99
Amount of people that work max hours per week: 85
Percent of those people that earn alot: 29.411764705882355

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [24]:
# your code
mean_time_gt50k = data[data['salary']=='>50K'].groupby('native-country')['hours-per-week'].mean()
mean_time_lt50k = data[data['salary']=='<=50K'].groupby('native-country')['hours-per-week'].mean()
print(f'Average work time for high income: {mean_time_gt50k}')
print(f'Average work time for low income: {mean_time_lt50k}')

Average work time for high income: native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64
Average work time for low income: native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [26]:
# your code
def select(age):
    if age>16 and age<=35:
        return 'young'
    elif age>35 and age<=70:
        return 'adult'
    elif age>70 and age<=100:
        return 'retiree'

data['AgeGroup'] = data.apply(lambda x: select(x['age']),axis=1)
print(data.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country salary AgeGroup
0          2174             0              40  United-States  <=50K    adult
1             0             0              13  United-States  <=50K    adult
2             0             0              40  United-States  <=50K    adult
3             0             0              40  United-States  <=50K    adult
4             0             0              40           Cuba  <=50K    young

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [34]:
# your code
gt50_per_age = data[data['salary']=='>50K'].groupby('AgeGroup')['AgeGroup'].count()

# add percentage column for grouped data for each age group salary
percentage = data.groupby(['AgeGroup', 'salary'])['AgeGroup'].count().groupby(level=0).transform(lambda x:x/x.sum())
max_age_group = percentage.filter(like='>',axis=0).idxmax()
print(f'Amount of people with high income for {gt50_per_age}')
print('')
print(f'Age group with most high income: {max_age_group[0]}')

Amount of people with high income for AgeGroup
adult      6042
retiree      94
young      1705
Name: AgeGroup, dtype: int64

Age group with most high income: adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [39]:
# your code
occupation_number = data.groupby('occupation')['occupation'].count()
print(occupation_number)
print('')

# Fi9lter function
def filter_func(age, hours):
    if age<=40 and hours>5:
        return True
    else:
        return False

age_hours_grouped = data.groupby('occupation').agg({'age':'mean', 'hours-per-week':'min'})
filtered_data = age_hours_grouped[age_hours_grouped.apply(lambda x: filter_func(x['age'],x['hours-per-week']),axis=1)]
print(filtered_data)

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
Name: occupation, dtype: int64

                    age  hours-per-week
occupation
Armed-Forces  30.222222               8